<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905334305653-52jrnpvhd44472p1r8teobcho5mnraet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905334305653-52jrnpvhd44472p1r8teobcho5mnraet</string>
	<key>API_KEY</key>
	<string>AIzaSyBfKFnKtJUolq8rRWraqVyDzSvSww1IPmo</string>
	<key>GCM_SENDER_ID</key>
	<string>905334305653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freshMart</string>
	<key>PROJECT_ID</key>
	<string>fresh-mart-1db2c</string>
	<key>STORAGE_BUCKET</key>
	<string>fresh-mart-1db2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905334305653:ios:f23136f605091680c1193c</string>
</dict>
</plist>